/*Jordan-TOP OF PAGE*/
h1 {
  text-align: center;  
}


    











/*Amanda- Gameboard*/
#gameboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}

.memoryCard{
    border-style: solid;
    border-width: 3px;
}

.displayNone{
    display: none;
}















/*Valerie-Bottom of game*/