/*Jordan-TOP OF PAGE*/
@font-face {
    font-family:'NewWaltDisneyUi';
    src: url(NewWaltDisneyUi-8YdA.ttf);
}


h1 {
    color: rgb(250, 231, 127);
    font-family:'NewWaltDisneyUi';
    font-size: 10vh;
    margin-bottom: 0%;
  }   

#timer {
    color: rgb(250, 231, 127);
    font-family:'NewWaltDisneyUi';
    font-size: 5vh;
}

header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}







/*Amanda- Gameboard*/
body {
    background-image: url(disneycastle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
   }
#center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameboard{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.memoryCard{
    border-style: solid;
    border-width: 3px;
    width: 150px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#frontface,
#backface{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #1C7CCC;
}

.displayNone{
    display: none;
}















/*Valerie-Bottom of game*/

#start {
    margin-top: 20px;
    line-height: 60px;
    width: 60px;
    font-weight: bold;
    padding: 0 40px;
    color: rgb(250, 231, 127);;
    border: none;
    font-family:'NewWaltDisneyUi';
    position: relative;
    border-radius: 20px;
  }
  #start:hover {
    background: white;
  }

  #restart {
    display: flex;

    margin-top: 20px;
    line-height: 60px;
    width: 60px;
    font-weight: bold;
    padding: 0 40px;
    color: rgb(250, 231, 127);
    border: none;
    font-family:'NewWaltDisneyUi';
    border-radius: 20px;
  }
  button:hover {
    background: white;
  }