/*Jordan-TOP OF PAGE*/
@font-face {
    font-family:'NewWaltDisneyUi';
    src: url(NewWaltDisneyUi-8YdA.ttf);
}


h1 {
    text-align: center;
    color: rgb(250, 231, 127);
    font-family:'NewWaltDisneyUi';
    font-size: 10vh;
  }   











/*Amanda- Gameboard*/
body {
    background-image: url(disneycastle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
   }


#gameboard{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.memoryCard{
    border-style: solid;
    border-width: 3px;
    width: 150px;
    height: 250px;
}

#frontface,
#backface{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #1C7CCC;
}

.displayNone{
    display: none;
}















/*Valerie-Bottom of game*/