/*Jordan-TOP OF PAGE*/
@font-face {
    font-family:'NewWaltDisneyUi';
    src: url(NewWaltDisneyUi-8YdA.ttf);
}


h1 {
    color: rgb(250, 231, 127);
    font-family:'NewWaltDisneyUi';
    font-size: 8vh;
    margin-bottom: 0%;
  }   

#timer {
    color: rgb(250, 231, 127);
    font-family:'NewWaltDisneyUi';
    font-size: 5vh;
}

header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}







/*Amanda- Gameboard*/
body {
    background-image: url(disneycastle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
   }
#center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameboard{
    visibility: hidden;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    perspective: 1000px; /*add 3d effect*/
}

.memoryCard{
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    width: 130px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}


.memoryCard:active {
  transform: scale(2);
  transition: transform .2s;
}

#frontface,
#backface{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #e0d1f0;
    opacity: 0.85;
}

.displayNone{
    display: none;
}

.buttonImg{
    display: none;
}














/*Valerie-Bottom of game*/

#start {
    margin-top: 20px;
    line-height: 80px;
    font-weight: bold;
    padding: 0 40px;
    color: rgb(250, 231, 127);;
    border: none;
    font-family:'NewWaltDisneyUi';
    position: relative;
    border-radius: 20px;
    font-size: 35px;
  }
  #start:hover {
    background: white;
  }

  #reset{
    margin-top: 20px;
    line-height: 80px;
    font-weight: bold;
    padding: 0 40px;
    color: rgb(250, 231, 127);
    border: none;
    font-family:'NewWaltDisneyUi';
    border-radius: 20px;
    font-size: 35px;
  }
  #reset:hover {
    background: white;
  }
  
  .buttons{
      display: flex;
  }

  .visible{
    visibility: visible;
  }


/*center images and move them over right */
  @media only screen and (min-width: 768px){
      h1 {
        font-size: 10vh;
      }   
    
      .buttons{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px, 50px;
          margin-left: 40px;
      }

      #side-by-side{
          display: flex;          
      }

      .memoryCard{
        width: 170px;
        height: 240px;
      }
      
      .buttonImg{
          display: flex;
          width: 100px;
          height: 150px;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
      }

      #start{
        margin-top: 0px;
      }

      #reset:hover {
        opacity: 0.85;
      }

      #start:hover {
        opacity: 0.85;
      }
  
    }