/*Jordan-TOP OF PAGE*/
h1 {
  text-align: center;  
}


    











/*Amanda- Gameboard*/
#gameboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    position: relative;
    
}

.memoryCard{
    border-style: solid;
    border-width: 3px;
    width: 90%;
    height: 100%;
}

#frontface,
#backface{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #1C7CCC;
}

.displayNone{
    display: none;
}















/*Valerie-Bottom of game*/